* {
  font-family: "Noto Serif";
  max-width: 1140px;
  margin: 10px auto;
  padding:0 1px;
}

/* navber style */
nav,
nav ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
nav img {
  margin: 0;
  width: 130px;
  height: 75px;
}
nav ol {
  gap: 48px;
  }
nav li{
  list-style: none;
}
nav a{
  text-decoration: none;
  color:#8987A1 ;
  font-size: 1.25rem;
}
.home a{
  font-weight: bold;
  color: #252432;
}
.cart a{
  font-weight: 500;
  color: #252432;
}
/* banner style */
.banner{
  display: flex;
  justify-content: space-between;
  align-items:end;
  margin: 109px auto;
 }

.banner-text h2{
font-size: 4rem;
font-weight: bold;
width: 100%;
}
.banner-text span{
  color: #E95A08;
  
}
.banner-text p{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  font-family: "Inter";
}
.banner img{
max-width: 570px;
}



/* responsive style */
@media screen and (max-width:576px) {
  nav img{
    width: 63px;
    height: 38px;
  }
  .home,
  .shop,
  .about{
  display: none;
  }
  .banner{
    margin-top: 28px;
    flex-direction: column-reverse;
  }
  .banner-text h2{
    font-size: 2.5rem;
  }
  .banner-text p{
    font-size: 0.9rem;
  }
  .banner img{
    width: 100%;
  }
}